.git
.github
.DS_Store
node_modules
.expo
.expo-shared
dist
web-build
coverage
*.log
.env
.env.*
google-services.json
GoogleService-Info.plist
firebase-debug.log*
android/.gradle
android/app/build
ios/Pods
ios/build
